* {
  font-family: "Poppins", sans-serif;
}

@font-face {
  /* 800 */
  font-family: "Gilroy heavy,sans-serif";
  src: url("./assets/fonts/Gilroy-Heavy.ttf");
  word-wrap: break-word;
}

@font-face {
  /* 700 */
  font-family: "Gilroy bold,sans-serif";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
  word-wrap: break-word;
}

@font-face {
  /* 500 */
  font-family: "Gilroy medium,sans-serif";
  src: url("./assets/fonts/Gilroy-Medium.ttf");
  word-wrap: break-word;
}

@font-face {
  /* 400 */
  font-family: "Gilroy regular,sans-serif";
  src: url("./assets/fonts/Gilroy-Regular.ttf");
  word-wrap: break-word;
}
@font-face {
  font-family: "Gilroy semibold, sans-serif";
  src: url("./assets/fonts/gilroy-semibold.ttf");
  word-wrap: break-word;
}

@font-face {
  /* 300 */
  font-family: "Gilroy light,sans-serif";
  src: url("./assets/fonts/Gilroy-Light.ttf");
  word-wrap: break-word;
}

.font_gilroy_heavy {
  font-family: "Gilroy heavy,sans-serif";
}

.font_gilroy_bold {
  font-family: "Gilroy bold,sans-serif";
}

.font_gilroy_light {
  font-family: "Gilroy light,sans-serif";
}

.font_gilroy_medium {
  font-family: "Gilroy medium,sans-serif";
}

.font_gilroy_regular {
  font-family: "Gilroy regular,sans-serif";
}

.font_gilroy_semibold {
  font-family: "Gilroy semibold, sans-serif";
}
